body {
	margin: 0;
	padding: 0;
	color: #026857;
	font-family: "Inconsolata", arial, sans-serif;
}

* {
	box-sizing: border-box;
}

/*header*/

header {
	margin-top: 20px;
}

.logo {
	max-width: 100px;
}

h1 {
	font-size: 4em;
	margin: 0;
}

h4 {
	font-size: 2em;
	margin: 0;
}

.devider {
	background-color: #bbb;
	height: 3px;
	margin: 20px 0 20px 0;
}

/*main*/

h2 {
	margin: 40px 0 20px 0;
	font-size: 3em;
}

.work-headline {
	margin-top: 20px;
}

.work-img {
	border: 1px solid #ddd;
}

/*footer*/

footer {
	margin-bottom: 40px;
	text-align: right;
}

/*media query 992*/

@media (max-width: 992px) {
	.work .col-md-4 {
		margin-bottom: 30px;
	}
}

/*media query 768*/

@media (max-width: 768px) {

	.logo {
		margin: 0 auto 15px auto;
	}

	.title {
		text-align: center;
	}

}

/*media query 580*/

@media (max-width: 580px) {

	.logo {
		max-width: 75px;
	}

	h1 {
		font-size: 2.2em;
	}

	h2 {
		font-size: 1.75em;
	}

	h4 {
		font-size: 1.2em;
	}
}